{% extends 'base.html' %}
{% load crispy_forms_tags static %}

{% block css %}
    <style>


        .text-red {
            color: red;
        }

        @media only screen and (max-width: 768px) {

            .card-header-actions {
                margin-left: -4%;
                margin-right: -5%;
            }

            .filtro-tipo{
                margin-left: 0%;
                margin-right: 5%;
            }
    
            .card-header-actions, .card-header{
                border: none;
            }
    
        }
    </style>
{% endblock css %}

{% block content %}
{% include "components/alert_messages.html" %}
<title>Clientes | {{ request.user.company_profile.name }}</title>
<div class="container-fluid">
    <div class="card card-header-actions mb-6">
        <div class="card-header d-flex justify-content-between">
            <div style="display: flex; align-items: center;">
                <i class="fas fa-user" style="font-size: 23px; color: #2A72FB; margin-right: 10px;"></i>
                <span style="font-size: 24px; color: #2A72FB;">Clientes</span>
            </div>
            <a class="btn btn-sm btn-primary" data-title="Crear Cliente" data-action="Guardar" href="javascript:void(0);" data-toggle="modal" data-target="#form-modal" data-url="{% url 'clientes:add_new_cliente' %}">
                <i class="fas fa-user"></i> Crear Cliente
            </a>           
        </div>

        <div class="card-body card-full-width" id="tableResponsive">
            <br id="brClientes" style="display:none;">
            <div class="row filtro-tipo">
                <div class="form-group col-md-3">
                    <label for="estadoFilter">Estado Credito</label>
                    <select class="form-control" id="estadoFilter" name="filter">
                        <option value="">Todos</option>
                        <option value="al_dia">Al día</option>
                        <option value="en_mora">En mora</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="clientesTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nombre</th>
                            <th>Nombre</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th>Deuda</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody data-toggle="tooltip" data-selector=".has-tooltip"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="subir-archivo-modal" tabindex="-1" role="dialog" aria-labelledby="subir-archivoTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="POST" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="subir-archivoTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div id="div_id_archivo" class="form-group">
                        <label for="id_archivo" class=" requiredField">
                            Archivo<span class="asteriskField">*</span>
                        </label>
                        <div>
                            <input type="file" name="archivo" class="clearablefileinput form-control-file" required
                                id="id_archivo">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Subir</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.1/b-2.3.3/b-colvis-2.3.3/b-html5-2.3.3/b-print-2.3.3/sp-2.1.0/sl-1.5.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.1/b-2.3.3/b-colvis-2.3.3/b-html5-2.3.3/b-print-2.3.3/sp-2.1.0/sl-1.5.0/datatables.min.js" 
    integrity="sha384-X5OPIFyAY4jHjrlvnzX7mq4fc9A46ODHnaX6YHgprjvVJS/q15V7W9NOh1G0N+y5" 
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"
    integrity="sha384-TXx4nFk9yfqhYyuOr5TSNDLkwYpxvszQRKWzlWSQopwFpZsUPq/z1wQtH61CW6ex" 
    crossorigin="anonymous">
</script>
<script
    src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js" 
    integrity="sha384-q/gioCoyP7Ot1cPl/TUoiZVdDMOM5ETruQZ2N9viR6yHJdbA1UQTX5LUfFzhbRXC" 
    crossorigin="anonymous">
</script>
<script>
    $(document).ready(function (){
        const table = $('#clientesTable').DataTable({
            rowId: 'id',
            ordering: false,
            processing: true,
            serverSide: true,
            lengthChange: false,
            infoCallback: function( settings, start, end, max, total, pre, page ) {
                num = end-start;
                if (total == 0) return "Sin resultados";
                return 'Mostrando '+ (num+1) + " de " + total + " resultados";
             },
            "language": {
                "processing": "Buscando...",
                "search": "",
                "searchPlaceholder": 'Buscar Cliente...',
                "paginate": {
                    "first":      "Primera",
                    "last":       "Ultima",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "infoEmpty":      "Mostrando 0 to 0 of 0 resultados",
            },
            "dom": '<"top"fl>rt<"bottom"ip>',

            ajax: {
                url : '{% url "clientes:listar_clientes_api" request.user.company_profile.id %}',
                data: function(d){
                    const estadoFilter = document.getElementById('estadoFilter');
                    if (estadoFilter.value) {
                        d.estado = estadoFilter.value;
                    }
                }
            },
            columns: [
                { data: 'id',
                    render: function (data, type, row, meta) {
                        const url = "{% url 'clientes:profile' 0 %}".replace(0, data);
                        return `
                            <div class="detail" data-url="${url}" title="Ver usuario">
                                <span style="font-size: 17px; color: #3498db;">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        `;
                    },
                },
                {data: 'nombres'},
                { data: 'nombres',
                    render: function (data, type, row, meta) {
                        const url = "{% url 'transacciones:transacciones_list' 0 %}".replace(0, row.id);
                        return `
                            <a href="${url}" title="Ver usuario">  
                                ${data}
                            </a>
                        `;
                    },
                },
                {data: 'telefono'},
                {data: 'email'},
                { 
                    data: 'deuda',
                    render: function(data, type, row, meta) {
                        const deuda = data;
                        const dias_mora = row.dias_mora;

                        if (dias_mora > 14) {
                            return `
                                $${deuda}  <h7 class="text-danger">(Mora ${dias_mora} Dias)</h7>
                            `;
                        } else {
                            return `$${deuda}`;
                        }
                    }
                },
                { 
                    data: 'activo',
                    render: function(data, type, row, meta) {
                        if (data == false) return`
                            <span class="text-warning">
                                <i class="fas fa-minus"></i>
                            </span>  
                        `;
                        return`
                            <span class="text-success">
                                <i class="fas fa-check-circle"></i>
                            </span>  
                        `
                    }
                }
            ],
        });

        ocultarColumnasEnMovil(table)

        function ocultarColumnasEnMovil(table) {
            const divTable = document.getElementById('tableResponsive')

            if (window.matchMedia("(max-width: 768px)").matches) {
                document.getElementById('brClientes').style.display = 'block';
                divTable.classList.add('p-0');
                table.columns([0, 1, 4, 6]).visible(false);
            }else{
                table.columns([2]).visible(false);
            }
        }

        $('#clientesTable').on('click', '.detail', function(){
            const { url } = this.dataset;
            const row = table.row(this.closest('tr'));

            if (row.child.isShown()){
                $(this).find('svg').attr('data-icon', 'eye');
                row.child.hide();
            } else {
                $(this).find('svg').attr('data-icon', 'minus-circle');
                cargarUsers(url, data => row.child(data).show());
            }
        });

        $('#estadoFilter').on('change', function() {
            table.draw();
        });

        const cargarUsers = (url, callback) => {
            callback('Cargando...');

            fetch(url)
                .then(res => res.text())
                .then(callback);
        };
    })

    const loadForm = (e, modal) => {
        const button = e.relatedTarget;
        const form = modal.querySelector('form');
        const modalTitle = modal.querySelector('#form-title');
        const formButton = modal.querySelector('#form-button');
        const { url, title, action } = button.dataset;
        form.action = url;
        modalTitle.innerHTML = title;
        formButton.innerHTML = action;
        fetch(url)
            .then(res => {
                if (!res.ok) {
                    throw Error(res.status);
                }

                return res.text();
            })
            .then(data => {
                try {
                    JSON.parse(data);
                } catch {
                    form.innerHTML = data;
                }
            })
            .catch(error => form.innerHTML = 'No puedes realizar esta operación');
    };

    const saveForm = (e) => {
        e.preventDefault();
        const button = e.target;
        const form = e.target.form;
        if (!form.reportValidity()) return;

        const action = button.innerHTML;
        button.classList.add('disabled');
        button.innerHTML = 'Guardando.....';
        fetch(form.action, { method: 'POST', body: new FormData(form) })
            .then(res => res.text())
            .then(data => {
                try {
                    const { ok } = JSON.parse(data);
                    const { transaction } = JSON.parse(data);
                    const { saldo } = JSON.parse(data);
                    const { user } = JSON.parse(data);
                    const { successurl } = JSON.parse(data);

                    if (ok) {
                        $('#form-modal').modal('toggle');
                        if (saldo){
                            successMessage(transaction, saldo);
                        }else if(transaction){
                            successUserMessage(user, successurl);
                        }else{
                            successUserupdateMessage(user);
                        }
                    }
                } catch {
                    form.innerHTML = data;
                    button.classList.remove('disabled');
                    button.innerHTML = action;
                }
            });
    };

    $('#form-modal').on('show.bs.modal', function (event) { loadForm(event, this) });
    document.getElementById('form-button').addEventListener('click', saveForm);

    $('#form-modal').on('hidden.bs.modal', function (event) {
        this.querySelector('form').innerHTML = 'Cargando...'
    });

    const loadModalContent = (e, modal) => {
        const button = e.relatedTarget;
        const modalContent = modal.querySelector('.modal-content');
        const { url } = button.dataset;
        fetch(url)
            .then(res => {
                if (!res.ok) {
                    throw Error(res.status);
                }
                return res.text();
            })
            .then(data => {
                try {
                    JSON.parse(data);
                } catch {
                    modalContent.innerHTML = data;
                }
            })
            .catch(error => modalContent.innerHTML = 'No puedes realizar esta operación');
    };

    function successMessage(transaction, saldo){
        swal({
            title: `${transaction} registrado exitosamente`,
            html: `Nuevo saldo: <strong>$${saldo}</strong>.`,
            type: 'success',
            showCancelButton: false,
            showConfirmButton: true,
            confirmButtonColor: '#69DE6F',
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar',
            allowOutsideClick: false,
        }).then((result) => {
            if (result.dismiss == 'overlay') {}

            else if (result.dismiss !== 'cancel') {
                window.location.reload();
            }
        });
    }
    
    function successUserMessage(user, succesurl){
        swal({
            title: `Usuario registrado exitosamente`,
            html: `Se ha registrado en el sistema el usuario:<strong> ${user}</strong>.`,
            type: 'success',
            showCancelButton: false,
            showConfirmButton: true,
            confirmButtonColor: '#69DE6F',
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar',
            allowOutsideClick: false,
        }).then((result) => {
            if (result.dismiss == 'overlay') {}

            else if (result.dismiss !== 'cancel') {
                window.location.href = succesurl;
            }
        });
    }

    function successUserupdateMessage(user){
        swal({
            title: `Usuario actualizado exitosamente`,
            html: `Se ha actualizado el usuario:<strong> ${user}</strong>.`,
            type: 'success',
            showCancelButton: false,
            showConfirmButton: true,
            confirmButtonColor: '#69DE6F',
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar',
            allowOutsideClick: false,
        }).then((result) => {
            if (result.dismiss == 'overlay') {}

            else if (result.dismiss !== 'cancel') {
                window.location.reload();
            }
        });
    }
</script>
{%endblock%}