{% load waffle_tags crispy_forms_tags static %}


<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h4 style="color:#216BF5;"><i class="fas fa-user" style="font-size: 90%;"></i>&nbsp;Información del Cliente: {{ cliente.nombre|title }} {{ cliente.apellido|title }} </h4>
    </div>
    <div class="card-body">
        <div class="list-group list-group-flush">
            <div class="list-group-item d-flex align-items-center card-text pb-0" style="font-size: medium;">
                <p class="mr-2 text-blue font-weight-bold">Nombre:</p>
                <p class="mr-4 text-capitalize text-dark ">{{ cliente.nombre }}</p>
                <p class="mr-2 text-blue font-weight-bold">Apellido:</p>
                <p class="mr-4 text-capitalize text-dark ">{{ cliente.apellido }}</p>
                <p class="mr-2 text-blue font-weight-bold">Telefono:</p>
                <p class="mr-4 text-dark ">{{ cliente.telefono }}</p>
            </div>
            <div class="list-group-item d-flex align-items-center card-text pb-0" style="font-size: medium;">
                <p class="mr-2 text-blue font-weight-bold">Email:</p>
                <p class="text-capitalize text-dark ">{{ cliente.email }}</p>
            </div>
            <div class="list-group-item d-flex align-items-center card-text pb-0" style="font-size: medium;">
                <p class="mr-2 text-blue font-weight-bold font-weight-bold">Total Deuda:</p>
                <p class="mr-4 text-capitalize text-dark ">${{ cliente.deuda }}</p>
            </div>
            <div class="list-group-item">
                {% switch 'cliente-transactions' %}
                <a class="btn btn-sm btn-warning mt-5" href="javascript:void(0);" data-toggle="modal" data-target="#form-modal" data-url="{% url 'transacciones:add_credit' cliente.id %}"
                    data-title="Agregar Fiado" data-action="Guardar">
                    <i class="mr-1 fas fa-dollar-sign"></i>
                    Agregar Fiado
                </a>
                {% if cliente.credit_balance  %}
                    <a class="btn btn-sm btn-success mt-5" href="javascript:void(0);" data-toggle="modal" data-target="#form-modal" data-url="{% url 'transacciones:add_payment' cliente.id %}"
                        data-title="Agregar Pago" data-action="Guardar">
                        <i class="mr-1 fas fa-dollar-sign"></i>
                        Agregar Pago
                    </a>
                {% endif %}
                {% endswitch %}
                <a class="btn btn-sm btn-primary mt-5" href="{% url 'transacciones:transacciones_list' cliente.id %}">
                    <i class="mr-1 fas fa-eye"></i>
                    Ver Detalle
                </a>
            </div>
        </div>
    </div>
</div>


<div id="form-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="form-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="form-title"></h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form" method="POST">
                    Cargando...
                </form>
            </div>
            <div class="modal-footer">
                <button id="form-button" class="btn btn-info" type="submit" form="form">Guardar</button>
            </div>
        </div>
    </div>
</div>