{% load crispy_forms_tags %}

{% block css %}
<style>
    body {
        background-color: #f8f9fa;
    }
    .container {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 50px;
    }
    .form-group label {
        font-weight: bold;
        color: #495057;
    }
    .form-group input, .form-group textarea, .form-group select {
        border-radius: 4px;
        border: 1px solid #ced4da;
    }
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        transition: background-color 0.3s, border-color 0.3s;
    }
    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
    .icon-label {
        margin-right: 5px;
        color: #007bff;
    }

    .icon-label-money {
        margin-right: 5px;
        color: #2EC44B;
    }

    .custom-bg {
        background-color: #d4edda;
        border-radius: 5px;
    }
</style>
{% endblock css %}

{% block content %}
<html lang="en">
<head>
    <title>Crear Producto</title>
</head>
<body>
    <form method="post" >
        {% csrf_token %}
        <div class="form-group">
            <label for="id_cliente"><i class="fas fa-user icon-label"></i> Cliente</label>
            <input type="text" class="form-control" name="cliente" id="id_cliente" placeholder="Nombre del Cliente" required/>
        </div>

        <div class="row">
            <div class="col col-md-6"><div class="form-group">
                    <label for="id_ciudad"><i class="fas fa-map-marker-alt icon-label"></i> Ciudad</label>
                    <select id="id_ciudad" class="form-control select basicAutoSelect" name="ciudad" autocomplete="off" placeholder="Buscar..." data-url="{% url 'common:municipios_info_api' %}" required></select>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="{{ form.tipo_reporte.id_for_label }}"><i class="fas fa-tag icon-label"></i> Labor a ejecutar </label>
                    {{ form.tipo_reporte|as_crispy_field }}
                </div>
            </div>
        </div>

        <div class="row" id="otrosDiv" style="display:none;">
            <div class="col col-md-12">
                <div class="form-group">
                    <label for="id_otros"><i class="fas fa-edit icon-label"></i> Otros</label>
                    <input type="text" class="form-control" name="otros" id="id_otros" required/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="id_direccion"><i class="fas fa-map-pin icon-label"></i> Dirección</label>
                    <input type="text" class="form-control" name="direccion" id="id_direccion" required/>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="id_administrador"><i class="fas fa-user icon-label"></i> Administrador</label>
                    <input type="text" class="form-control" name="administrador" id="id_administrador" required/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="id_certificado_norma"><i class="fas fa-file-alt icon-label"></i> Certificado Norma</label>
                    <select class="form-control" name="certificado_norma" id="id_certificado_norma" required>
                        <option value="">------------</option>
                        <option value="Si">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>
            </div>            
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="id_contrato"><i class="fas fa-file-signature icon-label"></i> N° Contrato</label>
                    <input type="text" class="form-control" name="contrato" id="id_contrato" required/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="id_equipo"><i class="fas fa-id-card icon-label"></i> ID Equipo</label>
                    <input type="text" class="form-control" name="equipo" id="id_equipo" required/>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="id_fecha_mantenimiento"><i class="fas fa-calendar-alt icon-label"></i> Fecha Mantenimiento</label>
                    <input type="date" class="form-control" name="fecha_mantenimiento" id="id_fecha_mantenimiento" required/>
                </div>
            </div>
        </div>

        <br><br><br>
        {% comment %} <div class="form-group">
            <label for="{{ form.cliente.id_for_label }}"><i class="fas fa-tag icon-label"></i> Nombre del Producto </label>
            {{ form.cliente|as_crispy_field }}
        </div>
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label for=""><i class="fas fa-dollar-sign icon-label-money"></i> Precio Sin IVA</label>
                    <input type="text" class="form-control" name="precio" id="id_precio" value="0" />
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="{{ form.cliente.id_for_label }}"><i class="fas fa-percentage icon-label-money"></i> IVA</label>
                    <input type="text" class="form-control" name="iva" id="id_iva" placeholder="0 %" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="{{ form.cliente.id_for_label }}"><i class="fas fa-truck icon-label-money"></i> Costo Flete</label>
                    <input type="text" class="form-control" name="costo_flete" id="id_costo_flete" value="0" />
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="{{ form.cliente.id_for_label }}"><i class="fas fa-percentage icon-label-money"></i> Ganancia</label>
                    <input type="text" class="form-control" name="porcentaje_ganancia" id="id_porcentaje_ganancia" placeholder="0 %" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <label for="{{ form.cliente.id_for_label }}"><i class="fas fa-cubes icon-label"></i> Cantidad</label>
                {{ form.cliente|as_crispy_field }}
            </div>
            <div class="col  col-md-6">
                <div class="form-group" style="background-color: #d4edda; padding: 0px; border-radius: 5px;">
                    <label class="text-green border" for="{{ form.cliente.id_for_label }}" style="color: #28a745;">
                        <i class="fas fa-dollar-sign icon-label" style="color: #28a745;"></i> Precio De Venta
                    </label>
                    <input type="text" class="form-control" name="precio_venta" id="id_precio_venta" value="0" />
                </div>
            </div>
        </div>           
        <div class="form-group">
            <label for="{{ form.cliente.id_for_label }}"><i class="fas fa-comment icon-label"></i> Descripción</label>
            {{ form.cliente|as_crispy_field }}
        </div> {% endcomment %}
    </form>

</body>
</html>
{% endblock content %}
