{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"> <!-- Incluye FontAwesome -->
    <title>Crear Producto</title>
</head>
<body>
    <div class="container">
        <form method="post" >
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.nombre.id_for_label }}">Nombre del Producto</label>
                {{ form.nombre|as_crispy_field }}
            </div>
            <div class="form-group">
                <label for="{{ form.precio.id_for_label }}"><i class="fas fa-dollar-sign"></i> Precio</label>
                {{ form.precio|as_crispy_field }}
            </div>
            <div class="form-group">
                <label for="{{ form.stock.id_for_label }}"><i class="fas fa-cubes"></i> Stock</label>
                {{ form.stock|as_crispy_field }}
            </div>
            <div class="form-group">
                <label for="{{ form.descripcion.id_for_label }}"><i class="fas fa-comment"></i> Descripción</label>
                {{ form.descripcion|as_crispy_field }}
            </div>
        </form>
    </div>
</body>


